.App {
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.csv-upload-form {
  margin: 40px 20px;
}

.csv-form-upload {
  margin: 10px;
}

.csv-upload-btn {
  margin-left: 10px;
}

.output {
  margin: 20px;
  font-weight: bold;
}

.result {
  color: green;
}

.error {
  color: red;
}
